@import "./variables.scss";

body {
  background-color: $yellow-imdb;
  .container {
    border-radius: 30px;
    min-height: 500px;

    .navigation-bar {
      .logo {
        height: 30px;
      }

      ul {
        list-style: none;
      }
    }

    #filter {
      border-radius: 10px;
    }

    .explore-movie {
      img {
        height: 150px;
        width: 100%;
        border-radius: 15px;
      }

      .second-column {
        height: 100%;

        .facebook {
          background-color: $blue-facebook;
          border-radius: 13px;
          height: 48%;
          font-size: 10px;
        }

        .snapshot {
          border: 1px solid $gray-boder;
          border-radius: 13px;
          height: 48%;
          font-size: 10px;
        }
      }

      .fourth-column {
        height: 100%;
        >div {
          border: 1px solid $gray-boder;
          border-radius: 13px;
          height: 48%;
          font-size: 10px;
        
        }
        .yellow-imdb{
          background-color: $yellow-imdb;
          font-size: 20px;
          font-weight: bolder;
        }
    }
    }

    .top-movie {
      img {
        height: 300px;
        width: 100%;
        border-radius: 15px;
      }
    }

    .red-circle {
      color: white;
      background-color: red;
      border-radius: 50%;
      display: inline-block;
      height: 30px;
      width: 30px;
      text-align: center;
    }

    #left-panel {
      background-color: $dark-imdb;
      border-radius: 15px;
      .more-result{
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      >div:first-child {
        >img {
          border-radius: 15px;
        }
      }

      .titles {
        color: white;
        text-transform: uppercase;
        font-size: 12px;

        .selected {
          background-color: $dark-lighter-imdb;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
        }

        .sub-list {
          text-transform: capitalize;

          div {
            background-color: $dark-lighter-imdb;
          }

          img {
            border-radius: 15px;
            height: 50px;
            width: 50px;
          }
        }
      }
    }

    #right-panel {
      //height: 500px;

      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;

      >div:first-child {
        width: 30px;
        min-height: 30px;
      }

      .twitter-card {
        color: black;
        border-radius: 15px;

        .first-row {
          >div {
            width: 35px;
            height: 35px;
            background-color: $blue-twitter;

            img {
              width: 15px;
              height: 15px;
            }
          }
        }

        .second-row {
          img {
            width: 40px;
            height: 40px;
          }

          .identifiers {
            font-size: 13px;
          }

          .two-points {
            font-size: 20px;
          }
        }

        .main {
          font-size: 13px;
        }
      }
    }
  }
}